<!-- Footer -->
<div class="container-fluid nopadding footer">
  <div class="row no-gutter align-items-center">
    <div class="col-3 grey">
      <img src="assets/bfsblue.svg" alt="bfslogo" class="bfslogo">
    </div>
    <div class="col-1 nopadding grey">
      <a href="https://www.instagram.com"><img src="assets/igblue.svg" alt="instagram" class="footermedia brighthover"></a>
    </div>
    <div class="col-1 nopadding grey">
     <a href="https://www.twitter.com"><img src="assets/twitterblue.svg" alt="twitter" class="footermedia brighthover"></a>
    </div>
    <div class="col-1 nopadding grey">
      <a href="https://www.facebook.com"><img src="assets/fbblue.svg" alt="facebook" class="footermedia brighthover"></a>
    </div>
    <div class="bgblue col-6 negative">
      <p class="negative footertext"><b>Big Friendly Shoulders</b><br>Tel: (+32) 488 205 218<br>hello@bfs.com</p>
    </div>
</div>