@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway:900'),
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss
//
// Fonts
//

p,.p {
  font-family: $regfont;
  font-size: $regfontsize;
  font-weight: 500;
  color: $darkblue;
}
h1,.h1 {
  font-family: $titlefont;
  font-size: $titlefontsize;
}
h2 {
  font-family: $h2font;
  font-size: $h2fontsize;
  font-weight: 600;
  color: $darkblue; 
}
h3,.h3 {
  font-family: $h3font;
  font-size: $h3fontsize;
  font-weight: 600;
  color: $primary;
  margin-bottom: 10px;
}
h4 {
  font-family: $h4font;
  font-size: $h4fontsize;
  font-weight: 600;
}
h5 {
  font-family: $h5font;
  font-size: $h5fontsize;
  font-weight: 600;
  color: $primary;
}

.h5c {
  font-family: $h5cfont;
  font-size: $h5cfontsize;
  font-weight: 600;
  color: $white;
  text-transform: $h5ctransform;
}
b {
  font-family: $regfont;
  font-size: $regfontsize;
  font-weight: 600;
  color: $darkblue;
}

// image transitions



//
//Nav
//


.nav-item {
  text-align: center;
}
.weblogo {
  width: 50px;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light {
  background-color: $blue;
  color: $white;
}

.negative {
  color: $white;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .weblogo {
    width: 100px;
  }
}
@include media-breakpoint-up(xl) {
  .weblogo {
    margin-left: 50px;
    width: 100px;
  }
}

//
//INDEX
//

.mobileheader {
  width: 100%;
}
.pagetitle {
  text-align: center;
}
.nopadding {
  padding: 0;
}
.header {
  position: relative;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.centered {
  text-shadow: $headerfontshade;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobileintro {
  padding-top: 30px;
}
.paddingleft {
  padding-left: $regpadding;
  text-align: left;
}

.paddingright {
  padding-right: $regpadding;
}

.stretch {
  padding: 0;
}

.armsup {
  margin-top: -40px;
  padding-top: 30px; 
  padding-bottom: 10px; 
  background-image: url("../../assets/mobile/armsup.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  margin-right: 0; 
  margin-left: 0; 
  margin-bottom: -30px; 
  height: 350px; 
}

.bottomline {
  border-bottom: solid 10px $lightblue
}
.armsupspace {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 9px;
  margin-right: 0; 
  margin-left: 0; 
}

.alignright {
  text-align: right;
}
.bottom-right {
  position: absolute;
  bottom: 41px;
  right: 0px;
  background-color: $blue;
  padding: 5px 10px;
  font-size: 15px;
}
.festivalname {
  margin-top: 10px;
  margin-left: 15px;
  color: $darkblue;
}
.festivaldescr {
  margin-top: -8px;
  margin-left: 15px;
  color: $blue;
}
.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: $blue;
  padding: 5px 10px;
  font-size: 15px;
}
.andmore {
  margin-top: 20px;
  padding-right: 20px;
}
.textindent {
  padding-left: 15px;
  border-left: thick solid $blue;
}
.nextbutton {
  padding-left: 5px;
  padding-top: 50px;
}

//
// footer
//

.footer {
  background-color: $grey; 
}
.bgblue {
  background-color: $blue;
  padding-top: 14px;
}
.bfslogo {
  padding-left: 15px;
  width: 50px;
}
.footermedia {
  width: 20px; 
}
.grey {
  background-color: #EEE;
  padding: auto;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .footermedia {
    width: 40px;
  }
  .bfslogo {
    width: 130px; 
    padding-left: 20%;
  }
}
@include media-breakpoint-up(xl) {
  .bfslogo { 
    width: 140px;
    margin-left: 50px; 
  }
  .footermedia {
    width: 50px; 
  }
}
.footertext {
  text-align: right;
  padding-right: 10%;
}

//
//about
//


.alignright {
  text-align: right;
}

.theteam {
  background: $primary; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#53CDFD, #53A1FD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#53CDFD, #53A1FD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#53CDFD, #53A1FD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#53CDFD, #53A1FD); /* Standard syntax */
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px; 
  margin-bottom: -20px;
}
.theteamtitle {
  font-size: 30px;
}
.theteamspacing {
  margin-top: 20px;
}
.dark {
  background-color: $darkbluetransparent;
  width: 100%;
  padding: 12px 0px 12px 10px
  }
.dark2 {
  background-color: $darkbluetransparent;
  padding: 5px 24px 0px 24px;
}
.rounded-topright{
  border-radius: 0px 20px 0px 0px;
}

//
// Locations
//

.centeredtop {
  text-shadow: $headerfontshade;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-rightloc {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: $blue;
  padding: 5px 10px;
  font-size: 15px;
}

.locationsbtn {
  text-align: center;
  vertical-align: middle;
  padding-top: 30%;
}
.locationsbtnm {
  text-align: center;
  vertical-align: middle;
  padding-top: 18%;
}
.locationsbtnm2 {
  text-align: center;
  vertical-align: middle;
  
}
.requestbtn {
  background-color: $grey;
  color: $secondary;
}

.bookherebtn {
  background-color: $secondary;
  color: $white; 
}
//
//faq
//

.item {
  margin: 10px;
  color: $secondary;
  font-family: $h2font;
  font-size: $h2fontsize;
}

.bottom-right-transp {
  position: absolute;
  bottom: 0px;
  right: 45px;
  padding: 5px 10px;
  font-size: 15px;
}
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 5px;
  padding: 5px 10px;
}

.headerbutton {
  margin-top: 30px;
}
.questions {
  text-align: right;
}

.sendbutton {
  border-radius: 40px;
}


//
// basket
//

.form-control {
  background-color: $white;
  border: none;
  -webkit-filter: drop-shadow(0 3px 5px rgba(0,26,76,0.3));
	-moz-filter: drop-shadow(0 3px 5px rgba(0,26,76,0.3));
	-ms-filter: drop-shadow(0 3px 5px rgba(0,26,76,0.3));
	filter: drop-shadow(0 3px 5px rgba(0,26,76,0.3));
  border-radius: 0px;
}
.bluegradient {
  padding-top: 30px;
  margin-top: -35px;
  padding-bottom: 20px;
  background: $primary; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#53CDFD, #53A1FD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#53CDFD, #53A1FD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#53CDFD, #53A1FD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#53CDFD, #53A1FD); /* Standard syntax */
}
.headerblue {
  position: relative;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(0 10px 10px rgba(0,26,76,0.3));
	-moz-filter: drop-shadow(0 10px 10px rgba(0,26,76,0.3));
	-ms-filter: drop-shadow(0 10px 10px rgba(0,26,76,0.3));
	filter: drop-shadow(0 10px 10px rgba(0,26,76,0.3));
}
.styleSelect {
  background-color: $blue;
}

.btn-primary {
  align-self: right;
  background-color: $white;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-primary:hover {
  align-self: right;
  background-color: $darkblue;
  color: $white;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.darkblue {
  color: $darkblue;
}
.bottomborder {
  border-bottom: solid 2px $blue;
  padding-bottom: 10px;
  padding-right: 10px;
}
.basket {
  padding-top: 30px;
  margin-bottom: 40px;
}

//
//Basket2
//

.basketprogress {
  text-align: center;
  color: $white;
}
.basketactive {
  text-align: center;
  color: $darkblue;
}
.bluegradientprogress {
  padding-top: 30px;
  margin-top: -35px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background: $primary; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#53CDFD, #53A1FD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#53CDFD, #53A1FD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#53CDFD, #53A1FD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#53CDFD, #53A1FD); /* Standard syntax */
}
.noshadow {
 background-color: $grey;
  border: none;
  -webkit-filter: drop-shadow(0 0px 0px rgba(0,26,76,0.0));
	-moz-filter: drop-shadow(0 0px 0px rgba(0,26,76,0.0));
	-ms-filter: drop-shadow(0 0px 0px rgba(0,26,76,0.0));
	filter: drop-shadow(0 0px 0px rgba(0,26,76,0.0));
  border-radius: 0px;
}
.form-group {
  margin-top: 20px;
  margin-bottom: 40px;
}

.addbasket {
  font-size: 25px;
  text-align: right;
}
//
//basket3
//

.subm {
  padding-left: 5px;
}
.spacingbasket3{
  margin-bottom: 40px;
}

.submissions {
  margin-bottom: 30px;
}

//
//basket4
//

.payments {
  margin-top: 20px; 
}

.aligncenter {
  text-align: center;
}
.confirmation {
  margin-top: 30px;
}




//
//
//Tablet Conversion
//
//


//
// Tablet Fonts
//

@media (min-width: 767px) and (max-width: 1199px) {
  p,.p {
    font-family: $regfont;
    font-size: $tregfontsize;
    font-weight: 500;
    color: $darkblue;
  }
  h1,.h1 {
    font-family: $titlefont;
    font-size: $ttitlefontsize;
  }
  h2,.h2 {
    font-family: $h2font;
    font-size: $th2fontsize;
    font-weight: 600;
    color: $darkblue; 
  }
  h3,.h3 {
    font-family: $h3font;
    font-size: $th3fontsize;
    font-weight: 600;
    color: $primary;
    margin-bottom: 10px;
  }
  h4 {
    font-family: $h4font;
    font-size: $th4fontsize;
    font-weight: 600;
  }
  h5 {
    font-family: $h5font;
    font-size: $th5fontsize;
    font-weight: 600;
    color: $blue; 
  }
  .h5c {
  font-family: $th5cfont;
  font-size: $th5cfontsize;
  font-weight: 600;
  color: $white;
  text-transform: $th5ctransform;
  }
  b {
    font-family: $regfont;
    font-size: $tregfontsize;
    font-weight: 600;
    color: $darkblue;
  }
}

//
// Hide mobile, show tablet
//
@media (max-width: 766px) {
  .mhide {
    display: none;
  }
 }
@media (min-width: 767px) and (max-width: 1199px) {
  .thide {
    display: none
  }
} 

//
//tablet media query edits
//

.armsup {
  margin-top: -40px;
  padding-top: 30px; 
  padding-bottom: 10px; 
  background-image: url("../../assets/mobile/armsup.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  margin-right: 0; 
  margin-left: 0; 
  margin-bottom: -30px; 
  height: 350px; 
}

.armsupspace {
  width: 100%;
  margin-top: 45px;
  margin-bottom: 9px;
  margin-right: 0; 
  margin-left: 0; 
}

@media (min-width: 767px) and (max-width: 1199px) {
  .armsup {
    margin-top: -77px;
    background-image: url("../../assets/tablet/armsup.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: -20px;
    height: 600px; 
    width: 100%
  }
  .armsupspace {
    padding-top: 40px; 
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .andmore {
    margin-top: 100px; 
  }
  .theteam {
    margin-top: 50px; 
  }
  .tabletteam {
    border-radius: 0px; 
    padding-left: 8px;
    padding-right: 8px; 
  }
  .question {
    font-size: 20px;
    font-weight: 600px;  
    color: $darkblue; 
  }
  .coloredquestion {
    background-color: $lightblue; 
    padding: 10px; 
    margin: 10px; 
  }
  .bottom-left-t {
    position: absolute;
    bottom: 75px;
    left: 0px;
    width: 100%;
    padding-left: 50px; 
    text-align: left; 
  }
  .bottom-right-transparent-t {
    position: absolute;
    bottom: 75px;
    right: 100px;
    padding: 5px 10px;
    font-size: 15px;
  }
  .bottom-right-transparent-t2 {
    position: absolute;
    bottom: 65px;
    right: 90px;
    padding: 5px 10px;
    font-size: 15px;
    width: 20px;
  }
  .questions {
    text-align: left;
  }
  .bluegradient {
    padding-top: 50px;
    margin-top: -65px;
    padding-bottom: 20px;
  }
  .basket {
    padding-top: 50px;
    padding-bottom: 30px; 
    margin-bottom: 50px;
  }
  .bluegradientprogress {
    padding-top: 60px;
    margin-top: -75px;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  .form-group-t-bottom {
    margin-bottom: 80px;
  }
  .form-group-t {
    margin-top: 40px;
    margin-bottom: 20px; 
  }
  .form-control {
    margin-bottom: 20px; 
  }
  .marginbottom {
    margin-bottom: 50px; 
  }
  .payments {
    margin-top: 50px; 
    margin-bottom: 80px; 
  }
  .locations {
  margin-bottom: 50px;
}
} 

//
//tablet edits - index
//


.introtext-t {
  margin-top: 40px;
}

.pagetitle-t {
  margin-top: 30px;
}
.bottom-right-t {
  position: absolute;
  bottom: 75px;
  right: 0px;
  background-color: $blue;
  padding: 5px 10px;
  font-size: 20px;
}
.circlebutton {
  border-radius: 50px; 
  width: 50%; 
}
.contentright {
  float: right; 
  vertical-align: middle; 
}

.subheadertablet {
  margin-top: 50px; 
}
.intro-t {
  margin-top: -20px; 
}

//
//tablet edits - about
//

.tabletteam-names {
  h3 {
    font-size: 20px;
    margin-top: 15px; 
  }
  p{
    font-size: 14px;
    margin-top: -10px; 
  }
}
.titletablet {
  margin-bottom: 30px; 
}

//
//tablet edits - faq
//

.convinced {
  margin-top: 60px; 
}

//
//tablet edits - baskets
//

.pagetitle-tablet  {
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 50px;  
}
.notepay {
  margin-top: 95px; 
}
.img-fluid {
  width: 100%
}


//
//
// DESKTOP
//
//

//
// DESKTOP Fonts
//

@include media-breakpoint-up(xl) {
  p,.p {
    font-family: $regfont;
    font-size: $dregfontsize;
    font-weight: 500;
    color: $darkblue;
  }
  h1,.h1 {
    font-family: $titlefont;
    font-size: $dtitlefontsize;
  }
  h2, .h2 {
    font-family: $h2font;
    font-size: $dh2fontsize;
    font-weight: 600;
    color: $darkblue; 
  }
  h3,.h3 {
    font-family: $h3font;
    font-size: $dh3fontsize;
    font-weight: 600;
    color: $primary;
    margin-bottom: 10px;
  }
  h4, .h4 {
    font-family: $h4font;
    font-size: $dh4fontsize;
    font-weight: 600;
  }
  h5 {
    font-family: $h5font;
    font-size: $dh5fontsize;
    font-weight: 600;
    color: $blue; 
  }
  .h5c {
  font-family: $dh5cfont;
  font-size: $dh5cfontsize;
  font-weight: 600;
  color: $white;
  text-transform: $dh5ctransform;
}
  b {
    font-family: $regfont;
    font-size: $dregfontsize;
    font-weight: 600;
    color: $darkblue;
  }
}

//
// Hide on DESKTOP
//

@include media-breakpoint-up(xl) {
  .dhide {
    display: none; 
  }
}

//
// DESKTOP Edits
//

@include media-breakpoint-up(xl) {
  .textindent {
    margin-top: 50px; 
    padding-left: 40px;
    border-left: solid 5px $blue;
  }
  .armsup {
    margin-top: -67px;
    background-image: url("../../assets/desktop/armsup.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: -40px;
    height: 1300px; 
    width: 100%
  }
  .armsupspace {
    padding-top: 250px; 
    margin-top: 20px;
  }
  .d-textblock {
    margin-bottom: 70px; 
  }
  .circlebutton {
    border-radius: 50px; 
    width: 20%; 
  }
  .locationmargin {
    margin-bottom: 50px;
    margin-top: 30px; 
  }
  .locationmargin2 {
    margin-bottom: 150px;
  }
  .faq-button1 {
    padding-bottom: 130px; 
  }
  .faq-button2 {
    padding-bottom: 100px; 
  }
  .faq-overlay {
  margin-top: -400px; 
  }
  .header {
  margin-bottom: 75px;
  }
  .rounded-topright {
    border-radius: 0px 80px 0px 0px;
  }
  .theteam {
    padding-top: 100px;
    padding-bottom: 100px; 
    margin-bottom: -20px;
  }
  .question {
    font-size: 25px;
    font-weight: 600px;  
    color: $darkblue; 
  }
  .bottom-left-t {
    position: absolute;
    bottom: 150px;
    left: 0px;
    width: 100%;
    padding-left: 100px; 
    text-align: left; 
  }
  .bottom-right-transparent-t {
    position: absolute;
    bottom: 150px;
    right: 200px;
    padding: 5px 10px;
    font-size: 30px;
  }
  .bottom-right-transparent-t2 {
    position: absolute;
    bottom: 140px;
    right: 180px;
    padding: 5px 10px;
    font-size: 30px;
    width: 20px;
  }
  .questions {
  text-align: left;
  }
  .sendbutton {
  border-radius: 80px;
  width: 80px;
  float: right; 
  }
  .bluegradient {
  padding-top: 100px;
  margin-top: -150px;
  padding-bottom: 20px;
  }
  .btn-primary {
  padding-left: 30px;
  padding-right: 30px;
  font-size: $dregfontsize;
  }
  .btn-primary:hover {
    padding-left: 30px;
    padding-right: 30px;
    font-size: $dregfontsize;
  }
  .form-control {
    background-color: $white;
    font-size: $dregfontsize;
  }
  .basket {
    padding-top: 100px;
    padding-bottom: 100px; 
    margin-bottom: 50px;
  }
  .bluegradientprogress {
    padding-top: 150px;
    margin-top: -200px;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .noshadow {
  background-color: $grey;
  padding: 10px;
  margin-bottom: 35px;
  }
  label {
    font-family: $h2font;
    font-size: $dh2fontsize;
  }
  .confirm-items {
    margin-top: 80px; 
  }
  .payments {
    margin-top: 75px; 
    margin-bottom: 75px; 
  }
  .desktopfaq {
    margin-bottom: 100px;
  }
  .nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
    text-align: right; 
  }
  .locations {
  margin-bottom: 100px;
}
.contactform {
  margin-bottom: 100px; 
  }
}

//
// DESKTOP scss
//

.desktopintro {
  padding-top: 100px; 
}

.textindent-white {
  padding-left: 50px;
  border-left: solid 5px $white; 
}
.teamnames-d {
  margin-top: 50px; 
}
.answer {
  padding-left: 50px; 
}
.bluebg {
  background-color: $lightblue; 
  padding: 30px; 
  margin: 30px; 
}
.negative {
  color: $white;
}

.thanks {
  text-align: center; 
}

//
// Animation
//

.greyhover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.greyhover:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.brighthover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.brighthover:hover {
  -webkit-filter: brightness(150%);  /* Safari */
  filter:  brightness(150%);
}
